---
import PageLayout, {
  type Props as PageLayoutProps
} from '@/layouts/PageLayout.astro'
import TTimerApp from '../../components/reactComponents/TTimer'

const frontmatter: PageLayoutProps['frontmatter'] = {
  title: '',
  activeHeaderLink: 'ttimer'
}
---

<PageLayout {frontmatter}>
  <h1 class="text-center">
    {frontmatter.title}
  </h1>
  <TTimerApp client:load />
</PageLayout>
