---
import Separator from '@/components/layout/Separator.astro'
// import { sortProjects } from '@/util/projects'
import type { CollectionEntry } from 'astro:content'
import App from './App.astro'

export interface Props {
  projects: CollectionEntry<'apps'>[]
}

const { apps } = Astro.props

// projects.sort(sortProjects)
---

<ul class="list-none p-0">
  {
    apps.map((app, index) => (
      <>
        <li>
          <App {app} />
          {index !== app.length - 1 && <Separator class="mb-6 ml-2 mt-0" />}
        </li>
      </>
    ))
  }
</ul>
